extensions/unity.unity-debug-3.0.2/bin/UnityDebug-log.txt
extensions/visualstudioexptteam.vscodeintellicode-1.2.10/cache
extensions/ms-vscode.cpptools-1.1.2/bin/
extensions/visualstudioexptteam.vscodeintellicode-1.2.14/cache
extensions/danileao.css-variables-autocomplete-0.0.3/out
extensions/ms-python.python-2021.1.502429796/pythonFiles/lib/python/debugpy
extensions/ms-python.vscode-pylance-2021.2.4/dist/intelliCode/model
extensions/actboy168.lua-debug-1.28.1/tmp
extensions/wellshsu.luaide-lite-0.2.3/res/yesterday
*/*/tmp
extensions/visualstudioexptteam.vscodeintellicode-1.2.21/cache
extensions/ms-python.python-2022.6.2/pythonFiles/lib/python/debugpy
extensions/ms-toolsai.jupyter-2022.4.1021342353/pythonFiles/lib/python/pyls_jsonrpc/__pycache__
extensions/ms-toolsai.jupyter-2022.4.1021342353/pythonFiles/vscode_datascience_helpers/__pycache__
extensions/ms-toolsai.jupyter-2022.4.1021342353/pythonFiles/vscode_datascience_helpers/daemon/__pycache__
test
extensions/ms-python.python-2022.8.1/pythonFiles/lib/python/debugpy
extensions/ms-dotnettools.csdevkit-1.7.27-win32-x64/components/CPS/platforms/win32-x64/node_modules/@microsoft
extensions/ms-dotnettools.csdevkit-1.7.27-win32-x64/components/roslyn-visualstudio-languageservices-devkit/node_modules/@microsoft
extensions/ms-dotnettools.csdevkit-1.7.27-win32-x64/components/VSDebugCore/platforms/win32-x64/node_modules/@microsoft
extensions/ms-dotnettools.csdevkit-1.7.27-win32-x64/components/vs-green-server/platforms/win32-x64/node_modules/@microsoft
extensions/ms-dotnettools.csdevkit-1.7.27-win32-x64/components/VSUnitTesting/platforms/win32-x64/node_modules/@microsoft
extensions/ms-dotnettools.csdevkit-1.7.27-win32-x64/components/WebTools/node_modules/@microsoft
